
<!-- footer content-->
<footer class="footer-distributed">

  <div class="footer-left">

    <p class="footer-links">
      <a href="#">Home</a> ·
      <a href="#">Growth</a> ·
      <a href="#">Services</a> ·
      <a href="#">About</a> ·
      <a href="#">Strenths</a> ·
      <a href="#">Contact us</a>
    </p>

    <p class="footer-company-name">Hyva ITSolutions © 2018</p>

  </div>

  <div class="footer-right">

    <form method="get" action="#">
      <input placeholder="Search" name="search">
    </form>

  </div>

</footer>
