/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  background-color: rgba(51, 51, 51, 0.05);
  font-family: Arial;
  color: #d33a2c;
  margin: 0;
}

.body-content {
  padding: 5% 0% 3% 2%;
  display: inline-block;
}

.clear{
  clear: both;
}
.logo {
  width: 30%;
  display: inline-block;
}

.circle {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 4px 3px 5px #595959;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

#text {
  font-size: 30px;
  font-weight: bold;
  /* text-shadow: 4px 3px 5px #919191; */
  top: 5px;
  position: relative;
}

.header {
  position: relative;
  z-index: 999;
  background-color: #361c1f;
  padding: 1% 2% 2% 2%;
 /* color: #fff;*/
  box-shadow: 0px 6px 6px #609f5e;
}
.logo>label {
  position: relative;
  font-size: 25px;
}

.logged-user {
  float: right;
  padding:2% 2% 2% 0%;
  font-size: 15px;
  font-family: sans-serif;
  display: inline-block;
}

/****************** Header CSS  - END ******************/

.body-container {
  background-color: #e1e1e1;
  padding: 5% 10% 10% 0%;
  color: #9fff8b;
  position: relative;
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: center;
}

nav {
  display: inline-block;
  float: left;
  width: 30%;
}

nav ul {
  margin: 0 2%;
  padding: 0%;
  list-style: none;
  color: #46a9ff
}

nav ul li {
  background: #d33a2c;
  border: 1px solid #b52c1f;
  padding: 6%;
  border-left: 6px solid rgba(163, 49, 39, 0.92);
}

.user-container {
  display: inline;
  float: left;
  width: 80%;
  position: relative;
}

.user-container h1 {
  color: #4c4c4c;
  font-size: 20px;
  padding-left: 15px;
  border-left: 4px solid #d33a2c;
}

.user-container .user-block {
}
.footer-distributed .footer-left {
  float: left;


}

.footer-distributed .footer-links {
  color: #a9bdff;
  margin: 0 0 10px;
  padding: 20px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer right */

.footer-distributed .footer-right {
  float: right;

}

/* The search form */

.footer-distributed form {
  position: relative;
}

.footer-distributed form input {
  display: block;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  box-shadow: 0 1px 0 0 rgba(41, 53, 54, 0.72);
  border: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: rgba(21, 26, 54, 0.81);
  width: 500px;
  padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
  outline: none;
}

/* Changing the placeholder color */




/****************** Footer CSS  - END ******************/

